APScheduler==3.11.2
keras==3.13.2
numpy==2.2.6
pandas==3.0.0
pandas-ta==0.4.71b0
requests==2.32.5
scikit-learn==1.8.0
tensorflow==2.20.0
tensorflow-datasets==4.9.9
tensorflow-metadata==1.17.3
xgboost==3.2.0
yfinance==1.2.0
